numpy==1.24.3
open3d==0.18.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
scikit-learn==1.4.0
scipy==1.11.4
torch==2.1.0
torchaudio==2.1.0
torcheval==0.0.7
torchvision==0.16.0
tornado==6.4
tqdm==4.66.1
